col-sm-3col-sm-3col-sm-3col-sm-3col-sm-3.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
}

.row{
	flex:1;
}

#lte_msisdn::placeholder {
	color: #D7D7D7;
}


#titlerow {
	border-width: 3px;
	border-style: groove;
	border-color: #DFDFDF; 
	text-align: center;
	font-size: 20pt;
}

#lte_output {
	padding-bottom: 20px;
}

#bggreen {
	background-color: #DFDFDF;
}

#message {
	font-size: 12pt;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield !important;
}