col-sm-3col-sm-3col-sm-3col-sm-3col-sm-3.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
}

.row{
	flex:1;
}

#lte_msisdn::placeholder {
	color: #D7D7D7;
}

#titlerow {
	background: #fff;
	padding: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #D7D7D7;
	border-radius: 10px;
	text-align: center;
	font-size: 20pt;
/*	box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.75);*/
}

#inputarea {
	padding: 10px 0;
}

#lte_output {
	padding-bottom: 20px;
}


#bggreen {
	background-color: #f2f2f1;
}

#message {
	font-size: 12pt;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield !important;
}